[Unit]
Description=Simple Blog Site served with H2o for mcullenm.dev
After=network.target

[Service]
User=root
ExecStart=mcullenm-dev-start
ExecStop=mcullenm-dev-stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
